Repository sargalias/light-bright: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --fix", "git add"],
  "*.{css,scss}": ["stylelint --fix", "git add"]
}

reset-all-colors: Add test: should do nothing when board is empty.
  src/components/LightBrightApp/LightBrightApp.test.jsx
Due: eslint --fix

reset-all-colors: Add integration test for reset all button functionality.
  src/components/LightBrightApp/LightBrightApp.test.jsx
Due: eslint --fix

reset-all-colors: Connect button with useLightBrightApp basic handleResetAll function.
  src/components/Button/Button.jsx
  src/components/Controls/Controls.jsx
  src/components/LightBrightApp/LightBrightApp.jsx
  src/components/LightBrightGame/LightBrightGame.jsx
  src/logic/useLightBrightApp/useLightBrightApp.jsx
Due: eslint --fix

reset-all-colors: Add functionality.
  src/logic/useLightBrightApp/useLightBrightApp.jsx
Due: eslint --fix

reset-all-colors: Add unit test for reset-last-color working correctly after reset-all has been pressed.
  src/components/LightBrightApp/LightBrightApp.test.jsx
Due: eslint --fix

Refactor: Refactor LightBrightAppTest.jsx.
  src/components/LightBrightApp/LightBrightApp.test.jsx
Due: eslint --fix

reset-all-colors: Add E2E tests for both buttons.
  cypress/e2e/lightBright/buttons_spec.js
Due: eslint --fix

Refactor: Refactor E2E tests.
  cypress/e2e/lightBright/accessibility_events_spec.js
  cypress/e2e/lightBright/colors_spec.js
Due: eslint --fix

cells-should-not-be-selectable: Add functionality and test.
  cypress/e2e/lightBright/accessibility_events_spec.js
  src/components/Cell/Cell.scss
Due: eslint --fix, stylelint --fix

Tests: Fix test.
  src/components/LightBrightApp/LightBrightApp.test.jsx
Due: eslint --fix

double-click-removes-color: Add E2E test.
  cypress/e2e/lightBright/accessibility_events_spec.js
Due: eslint --fix

double-click-removes-color: Add integration test.
  src/components/LightBrightApp/LightBrightApp.test.jsx
Due: eslint --fix

double-click-removes-color: Add functionality.
  src/components/Board/Board.jsx
  src/components/Cell/Cell.jsx
  src/components/LightBrightApp/LightBrightApp.jsx
  src/components/LightBrightGame/LightBrightGame.jsx
  src/logic/useLightBrightApp/useLightBrightApp.jsx
Due: eslint --fix

double-click-removes-color: Update instructions.
  src/components/Instructions/Instructions.jsx
Due: eslint --fix

Update test snapshot due to new instructions.
  src/__snapshots__/App.test.jsx.snap
Due: none

refactor: Refactor Cypress tests for drag.
  cypress/e2e/lightBright/drag_spec.js
Due: eslint --fix

feat: Add focus to cells when dragging over them.
  cypress/e2e/lightBright/drag_spec.js
  src/components/Board/Board.jsx
  src/components/Cell/Cell.jsx
  src/components/LightBrightApp/LightBrightApp.jsx
  src/components/LightBrightApp/LightBrightApp.test.jsx
  src/components/LightBrightGame/LightBrightGame.jsx
  src/logic/useLightBrightApp/useLightBrightApp.jsx
Due: eslint --fix

refactor: Fix name of useLightBrightApp.js export object.
  src/logic/useLightBrightApp/useLightBrightApp.jsx
Due: eslint --fix

refactor(config): add path aliases for base and abstracts
  jest.config.js
  webpack.common.js
Due: eslint --fix

refactor(config): Use path aliases for SCSS imports.
  src/App.jsx
Due: eslint --fix

refactor(scss): Change filenames to start with _.
  src/App.jsx
  src/abstracts/_variables.scss
  src/base/_reset.scss
Due: eslint --fix, stylelint --fix

refactor(scss): Change filenames for scss global abstracts
  src/abstracts/global/mixins.scss
  src/abstracts/global/variables.scss
Due: stylelint --fix

Config(ESLint): Remove eslint-plugin-no-secrets.
  .eslintrc
  package.json
Due: none

Config: Disable eslint rule security/detect-object-injection
  .eslintrc
Due: none

Refactor: Rename LightBrightGame to LightBrightInteractiveArea
  src/components/LightBrightApp/LightBrightApp.jsx
  src/components/LightBrightApp/LightBrightApp.scss
  src/components/LightBrightGame/index.js
  src/components/LightBrightInteractiveArea/LightBrightInteractiveArea.jsx
  src/components/LightBrightInteractiveArea/LightBrightInteractiveArea.scss
  src/components/LightBrightInteractiveArea/index.js
Due: eslint --fix, stylelint --fix

feat(sticky footer): Add data attribute to div#root
  src/index.html
Due: none

feat(sticky footer): Add scss for sticky footer.
  src/App.jsx
  src/__snapshots__/App.test.jsx.snap
  src/base/_base.scss
  src/pages/LightBrightPage/LightBrightPage.scss
Due: eslint --fix, stylelint --fix

feat(styling): Add general styling.
  src/__snapshots__/App.test.jsx.snap
  src/abstracts/_variables.scss
  src/components/Board/Board.scss
  src/components/Button/Button.jsx
  src/components/Button/Button.scss
  src/components/Cell/Cell.scss
  src/components/LightBrightApp/LightBrightApp.scss
Due: eslint --fix, stylelint --fix

feat(styling): Enable webpack to handle files and fonts.
  package.json
  webpack.common.js
Due: eslint --fix

feat(styling): Install package typeface-lato
  package-lock.json
  package.json
Due: none

feat(styling): Add styles for links
  src/base/_typography.scss
Due: stylelint --fix

feat(styling): Make font-size larger on medium breakpoint.
  src/base/_typography.scss
Due: stylelint --fix

feat(styling): Use Lato for font-family.
  src/App.jsx
  src/base/_typography.scss
Due: eslint --fix, stylelint --fix

refactor(styling): Move media query inside target selector.
  src/abstracts/_variables.scss
Due: stylelint --fix

fix(styling): Make CSS variables available to other CSS files.
  src/App.jsx
Due: eslint --fix

refactor(styling): Replace CSS media query with equivalent mixin
  src/abstracts/_variables.scss
Due: stylelint --fix

feat(styling): Switch typography font-size to use variables
  src/abstracts/_variables.scss
  src/base/_typography.scss
Due: stylelint --fix

feat(styling): Make button use global typography font-size
  src/components/Button/Button.scss
Due: stylelint --fix

feat(styling): Change value for color-accent-soft
  src/abstracts/_variables.scss
Due: stylelint --fix

fix(tests): Import typeface-lato index.css directly
  src/App.jsx
Due: eslint --fix
