Repository sargalias/light-bright: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Config: Disable stylelint rule.
  stylelint.config.js
Due: eslint --fix

Develop: Add additional styling.
  src/abstracts/_mixins.scss
  src/abstracts/_variables.scss
  src/components/Board/Board.scss
Due: stylelint --fix

Develop: Add alias path for "layout" folder.
  jest.config.js
  webpack.common.js
Due: eslint --fix

Develop: Restructure app and HTML outline.
  src/__snapshots__/App.test.jsx.snap
  src/components/LightBrightApp/LightBrightApp.jsx
  src/components/LightBrightApp/LightBrightApp.scss
  src/components/LightBrightApp/index.js
  src/layout/Footer/Footer.jsx
  src/layout/Footer/Footer.scss
  src/layout/Footer/index.js
  src/pages/LightBrightPage/LightBrightPage.jsx
  src/pages/LightBrightPage/LightBrightPage.scss
Due: eslint --fix, stylelint --fix

Develop: Add additional styling.
  src/__snapshots__/App.test.jsx.snap
  src/abstracts/_mixins.scss
  src/abstracts/_variables.scss
  src/components/Board/Board.scss
  src/components/Controls/Controls.scss
  src/components/Instructions/Instructions.scss
  src/components/LightBrightApp/LightBrightApp.scss
  src/layout/Footer/Footer.scss
  src/pages/LightBrightPage/LightBrightPage.jsx
  src/pages/LightBrightPage/LightBrightPage.scss
Due: eslint --fix, stylelint --fix

Config: Add note on webpack config.
  webpack.common.js
Due: eslint --fix

Develop: Fix CSS custom properties importing.
  src/App.jsx
  src/abstracts/global/_mixins.scss
  src/abstracts/global/_variables.scss
  src/abstracts/variables.scss
  webpack.common.js
Due: eslint --fix, stylelint --fix

Develop: Add additional styling.
  src/__snapshots__/App.test.jsx.snap
  src/abstracts/variables.scss
  src/components/Board/Board.scss
  src/components/Cell/Cell.scss
  src/components/Controls/Controls.scss
  src/components/Instructions/Instructions.scss
  src/layout/Footer/Footer.jsx
  src/layout/Footer/Footer.scss
Due: eslint --fix, stylelint --fix

Develop: Give Cells a testId based on their index.
  src/__snapshots__/App.test.jsx.snap
  src/components/Board/Board.jsx
  src/components/Cell/Cell.jsx
Due: eslint --fix

Config: Enable ESLint plugin Cypress.
  .eslintrc
Due: none

Develop: Add E2E tests for colors and clicks.
  cypress/e2e/lightBright_spec.js
  cypress/e2e/test_spec.js
Due: eslint --fix

Develop: Add integration test for cell click.
  src/components/LightBrightApp/LightBrightApp.test.jsx
Due: eslint --fix

Develop: Fix name of LightBrightApp component.
  src/components/LightBrightApp/LightBrightApp.jsx
Due: eslint --fix

Config: Add alias for testUtils folder in webpack.
  webpack.common.js
Due: eslint --fix

Config: Comment out sass-resources-loader.
  webpack.common.js
Due: eslint --fix

Config: Add eslint-plugin-react-hooks.
  .eslintrc
  package-lock.json
  package.json
Due: none

Develop: Pass in option for number of cells.
  src/__snapshots__/App.test.jsx.snap
  src/components/Board/Board.jsx
  src/components/LightBrightApp/LightBrightApp.jsx
  src/components/LightBrightApp/LightBrightApp.test.jsx
  src/components/LightBrightGame/LightBrightGame.jsx
  src/pages/LightBrightPage/LightBrightPage.jsx
Due: eslint --fix

Develop: Add basic click functionality.
  src/__snapshots__/App.test.jsx.snap
  src/components/Board/Board.jsx
  src/components/Cell/Cell.jsx
  src/components/LightBrightApp/LightBrightApp.jsx
  src/components/LightBrightGame/LightBrightGame.jsx
Due: eslint --fix

Develop: Make Cells appear "on" through prop.
  src/components/Cell/Cell.jsx
  src/components/Cell/Cell.scss
  src/components/Cell/Cell.test.jsx
Due: eslint --fix, stylelint --fix

Develop: Add test for Cell onClick functionality.
  src/components/Cell/Cell.test.jsx
Due: eslint --fix

Develop: Remove tests for non-developed features.
  cypress/e2e/lightBright_spec.js
  src/__snapshots__/App.test.jsx.snap
  src/components/Board/Board.jsx
  src/components/LightBrightApp/LightBrightApp.test.jsx
Due: eslint --fix

Develop: Fix ESLint errors.
  src/components/Board/Board.jsx
  src/components/LightBrightApp/LightBrightApp.jsx
Due: eslint --fix

Develop: Make Cells <button> for accessibility.
  src/__snapshots__/App.test.jsx.snap
  src/abstracts/variables.scss
  src/components/Cell/Cell.jsx
  src/components/Cell/Cell.scss
Due: eslint --fix, stylelint --fix

Develop: Build basic Cell click functionality.
  cypress/e2e/lightBright_spec.js
  src/components/Cell/Cell.jsx
  src/components/LightBrightApp/LightBrightApp.jsx
  src/components/LightBrightApp/LightBrightApp.test.jsx
Due: eslint --fix

Develop: Add function for generating random hue.
  src/logic/randomHue.js
  src/logic/randomHue.test.js
Due: eslint --fix

Develop: Add "logic" folder to path aliases.
  jest.config.js
  webpack.common.js
Due: eslint --fix

Develop: Disable ESLint rules.
  .eslintrc
  package-lock.json
  package.json
  src/logic/randomHue.test.js
Due: eslint --fix

Develop: Solve eslint rule.
  src/components/LightBrightApp/LightBrightApp.jsx
Due: eslint --fix

Develop: Make LightBrightApp generate random hues.
  src/components/LightBrightApp/LightBrightApp.jsx
Due: eslint --fix

Develop: Change events for Cell for accessibility.
  cypress/e2e/lightBright_spec.js
  src/components/Cell/Cell.jsx
  src/components/Cell/Cell.test.jsx
  src/components/LightBrightApp/LightBrightApp.test.jsx
Due: eslint --fix

Develop: Delete unused app.scss file.
  src/app.scss
Due: stylelint --fix

Basic-drag-functionality: Add basic E2E / integration tests.
  cypress/e2e/lightBright_spec.js
  src/components/LightBrightApp/LightBrightApp.test.jsx
Due: eslint --fix

Basic-drag-functionality: Add unit test for mouseover event on Cell.
  src/components/Cell/Cell.test.jsx
Due: eslint --fix

basic-drag-functionality: Make Cell activate handleMouseOver prop on mouseover.
  src/components/Cell/Cell.jsx
Due: eslint --fix

Develop: Remove accidentally added "draggable" attribte on Cell.
  src/components/Cell/Cell.jsx
Due: eslint --fix

basic-drag-functionality: Add basic drag functionality.
  src/components/Board/Board.jsx
  src/components/LightBrightApp/LightBrightApp.jsx
  src/components/LightBrightGame/LightBrightGame.jsx
Due: eslint --fix

Develop: Fix Cypress tests.
  cypress/e2e/lightBright_spec.js
Due: eslint --fix

drag-start-stop: Add E2E test for basic drag starting and stopping.
  cypress/e2e/lightBright_spec.js
Due: eslint --fix

drag-start-stop: Add integration test for drag start / stop.
  cypress/e2e/lightBright_spec.js
  src/components/LightBrightApp/LightBrightApp.test.jsx
Due: eslint --fix

drag-start-stop: Only start dragging after a click on a Cell.
  src/components/LightBrightApp/LightBrightApp.jsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  stylelint --fix: any of: *.{css,scss}
