Repository sargalias/light-bright: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --fix", "git add"],
  "*.{css,scss}": ["stylelint --fix", "git add"]
}

Config: Add @babel/preset-env for test.
  .babelrc
  babel.config.js
  package-lock.json
  package.json
Due: eslint --fix

Config: Add CSS Modules.
  webpack.common.js
Due: eslint --fix

Config: Add Jest (and configure it).
  .eslintrc
  .gitignore
  jest.config.js
  mocks/fileMock.js
  package-lock.json
  package.json
Due: eslint --fix

Config: Add react-testing-library.
  package-lock.json
  package.json
Due: none

Config: Add Cypress.
  cypress.json
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package-lock.json
  package.json
Due: eslint --fix

Config: Add cypress-testing-library.
  cypress/support/commands.js
  package-lock.json
  package.json
Due: eslint --fix

Config: Add task for tests to git precommit hook.
  .huskyrc
Due: none

Config: Add some npm scripts.
  package-lock.json
  package.json
Due: none

Config: Add Jest and Cypress ESLint plugins.
  .eslintrc
  package-lock.json
  package.json
Due: none

Config: Make dev servers serve HTTPS.
  cypress.json
  package-lock.json
  package.json
  webpack.dev.js
Due: eslint --fix

Config: Add clean-webpack-plugin.
  package-lock.json
  package.json
  webpack.common.js
Due: eslint --fix

Config: Make live-server not open browser.
  package.json
Due: none

Add wireframe.
  light-bright-wireframe.epgz
Due: none

Design: Move design file to folder "designs".
  designs/light-bright-wireframe.epgz
  light-bright-wireframe.epgz
Due: none

Config: Enable global scss resources.
  package-lock.json
  package.json
  webpack.common.js
Due: eslint --fix

Config: Add placeholder for webpack path aliases.
  webpack.common.js
Due: eslint --fix

Config: Add placeholder for jest resolver.
  jest.config.js
Due: eslint --fix

Config: Add correct module resolution on ESLint.
  .eslintrc
  package-lock.json
  package.json
Due: none

Config: Add package "classnames" for CSS.
  package-lock.json
  package.json
Due: none

Develop: Add basic project configuration.
  jest.config.js
  webpack.common.js
Due: eslint --fix

Develop: Add sample project skeleton.
  cypress/e2e/test_spec.js
  src/App.jsx
  src/App.test.jsx
  src/abstracts/_variables.scss
  src/app.scss
  src/components/mainContentHeader/MainContentHeader.jsx
  src/components/mainContentHeader/MainContentHeader.scss
  src/components/mainContentHeader/index.js
  src/components/mainContentHeader/test.jsx
  src/index.html
  src/index.jsx
Due: eslint --fix, stylelint --fix

Add bemUtils for working with CSS Modules and BEM.
  jest.config.js
  package-lock.json
  package.json
  src/utilities/bemUtils/bemUtils.js
  src/utilities/bemUtils/bemUtils.test.js
  src/utilities/bemUtils/index.js
  webpack.common.js
Due: eslint --fix

Config: Add testUtils abstraction.
  jest.config.js
  testUtils/index.js
  testUtils/testUtils.js
Due: eslint --fix

Develop: Tests ignore index.jsx file.
  jest.config.js
Due: eslint --fix

Develop: Clean up project starting state.
  cypress/e2e/test_spec.js
  jest.config.js
  src/App.jsx
  src/App.test.jsx
  src/__snapshots__/App.test.jsx.snap
  src/abstracts/_variables.scss
  src/components/mainContentHeader/MainContentHeader.jsx
  src/components/mainContentHeader/MainContentHeader.scss
  src/components/mainContentHeader/index.js
  src/components/mainContentHeader/test.jsx
Due: eslint --fix, stylelint --fix

Config: gitignore cypress videos and screenshots.
  .gitignore
Due: none

Develop: Add base HTML.
  src/App.jsx
  src/__snapshots__/App.test.jsx.snap
  src/components/Board/Board.jsx
  src/components/Board/index.js
  src/components/Button/Button.jsx
  src/components/Button/index.js
  src/components/Cell/Cell.jsx
  src/components/Cell/index.js
  src/components/Controls/Controls.jsx
  src/components/Controls/index.js
  src/components/Footer/Footer.jsx
  src/components/Footer/index.js
  src/components/LightBrightGame/LightBrightGame.jsx
  src/components/LightBrightGame/index.js
  src/components/MainContentHeader/MainContentHeader.jsx
  src/components/MainContentHeader/index.js
Due: eslint --fix

Config: Disable some eslint rules.
  .eslintrc
Due: none

Develop: Fix bem-css-modules dependency.
  package.json
Due: none

Develop: Add 'pages' alias in webpack config.
  webpack.common.js
Due: eslint --fix

Develop: Add pages folder for main page.
  jest.config.js
  src/App.jsx
  src/pages/LightBrightPage.jsx
  src/pages/index.js
Due: eslint --fix

Develop: Add alias for 'base'.
  jest.config.js
  webpack.common.js
Due: eslint --fix

Develop: Add basic CSS reset.
  src/App.jsx
  src/base/reset.scss
Due: eslint --fix, stylelint --fix

Develop: Add global CSS files (abstracts folder).
  src/abstracts/_variables.scss
  webpack.common.js
Due: eslint --fix, stylelint --fix

Develop: Add basic layout styling.
  src/__snapshots__/App.test.jsx.snap
  src/components/Board/Board.jsx
  src/components/Board/Board.scss
  src/components/Cell/Cell.jsx
  src/components/Cell/Cell.scss
  src/components/Controls/Controls.jsx
  src/components/Controls/Controls.scss
  src/components/Footer/Footer.jsx
  src/components/Footer/Footer.scss
  src/components/LightBrightGame/LightBrightGame.jsx
  src/components/LightBrightGame/LightBrightGame.scss
  src/components/MainContentHeader/MainContentHeader.jsx
  src/components/MainContentHeader/MainContentHeader.scss
  src/pages/LightBrightPage/LightBrightPage.jsx
  src/pages/LightBrightPage/LightBrightPage.scss
  src/pages/LightBrightPage/index.js
Due: eslint --fix, stylelint --fix

Develop: Add Instructions component.
  src/components/Instructions/Instructions.jsx
  src/components/Instructions/Instructions.scss
  src/components/Instructions/index.js
  src/pages/LightBrightPage/LightBrightPage.jsx
  src/pages/LightBrightPage/LightBrightPage.scss
Due: eslint --fix, stylelint --fix

Develop: Add additional styling.
  src/App.jsx
  src/__snapshots__/App.test.jsx.snap
  src/abstracts/_mixins.scss
  src/abstracts/_variables.scss
  src/base/reset.scss
  src/components/Board/Board.scss
  src/components/Cell/Cell.scss
  src/components/Footer/Footer.scss
  src/components/Instructions/Instructions.jsx
Due: eslint --fix, stylelint --fix

Config: Add stylelint-scss plugin.
  package-lock.json
  package.json
  stylelint.config.js
Due: eslint --fix

Config: Fix stylelint error with mixins.
  stylelint.config.js
Due: eslint --fix
